<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://akira-elementor.axonvip.com/modules/axoncreator/img/slider2.png" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="https://akira-elementor.axonvip.com/modules/axoncreator/img/slider1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://akira-elementor.axonvip.com/modules/axoncreator/img/slider3.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>