<br /><br /><br /><br /><br />

<div class="container" style="padding-left: 50px; padding-right: 50px">
  <div class="row">
    <div class="col-md-6">
      <div
        class="big-heading"
        style="
          font-family: Poppins;
          font-size: 120px;
          font-weight: 900;
          direction: rtl;
          background: -webkit-linear-gradient(0deg, #000000 0%, #48abe0 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        "
      >
        <span>LET'S</span><br />
        <span>CONNECT</span>
      </div>
    </div>
    <div class="col-md-6">
      <form>
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="form3Example1" class="form-control" />
              <label class="form-label" for="form3Example1">First name</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="form3Example2" class="form-control" />
              <label class="form-label" for="form3Example2">Last name</label>
            </div>
          </div>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="form3Example3" class="form-control" />
          <label class="form-label" for="form3Example3">Email address</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="form3Example4" class="form-control" />
          <label class="form-label" for="form3Example4">Password</label>
        </div>

        <div class="form-check d-flex justify-content mb-4">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="form2Example33"
          />
          <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
          </label>
        </div>

        <button
          data-mdb-ripple-init
          type="button"
          class="btn btn-primary btn-block mb-4"
        >
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>
